<%- include('partials/head') %>

<%- include('partials/navbar') %>

<h1>The Home Page</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non praesentium fuga, neque, numquam veniam hic, soluta
    reprehenderit quaerat unde vitae quasi quam omnis inventore quibusdam ea. Quae blanditiis non quis.
    Aliquam animi quisquam cumque aliquid esse commodi non dolor voluptatum soluta nesciunt optio eligendi
    necessitatibus, libero id, blanditiis nam modi aspernatur, nemo officia. Provident odio voluptate architecto
    tempore itaque illo.
    Ipsum eos fuga neque adipisci unde nemo recusandae enim numquam eveniet! Culpa ducimus quasi explicabo provident
    expedita, nostrum alias iste modi dolores, labore quod voluptatibus beatae, placeat corporis eveniet delectus!
    Libero iste distinctio nulla aspernatur, sapiente, culpa, accusantium aperiam asperiores aliquid officiis dolor
    earum qui ullam perferendis! Veritatis tenetur modi, inventore consectetur ab rerum ipsum ducimus vero quae non
    blanditiis.
    Autem perspiciatis modi obcaecati. Dolor repudiandae porro voluptatibus assumenda, consequatur, quasi ducimus
    est architecto molestiae veritatis atque in error nam nesciunt maiores voluptatum rem! Hic maiores expedita
    delectus sunt est.
    Eum nam unde sed doloremque voluptatum laborum enim cum magni molestiae esse laudantium reiciendis, recusandae
    amet quos quis ratione necessitatibus possimus natus ducimus exercitationem? Facere, quidem. Mollitia
    repudiandae veritatis dignissimos?
    Eum ab iusto sed accusantium ipsum placeat labore ipsa debitis! Ab tempore non cupiditate libero fuga at,
    veritatis aspernatur porro quo suscipit facere aut aperiam distinctio est numquam velit recusandae?
    Earum totam perferendis provident blanditiis accusantium, labore quasi modi ipsum quisquam consequatur incidunt
    ullam minus dolore tempora? A cupiditate aliquam voluptatem necessitatibus assumenda recusandae totam dolores,
    saepe sequi dicta asperiores.
    Quos quas fugit voluptatum neque aperiam, magnam aut assumenda ex asperiores. Nobis dicta, ea minus eligendi
    facere a hic magnam error in vitae laborum perferendis alias quisquam. Ipsam, laborum eaque!
    Perspiciatis, alias. Beatae repudiandae ut culpa veritatis distinctio, earum quasi, tenetur consequuntur officia
    excepturi laudantium esse illo nulla ab dicta officiis. Ratione ea provident non fugiat accusamus expedita earum
    esse.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus error id, dolorum voluptatem doloremque
    nesciunt dignissimos tempora enim quasi obcaecati consequuntur reprehenderit laborum facere illo eos eaque
    mollitia aut eligendi!
    Numquam, architecto. Rerum amet consequuntur explicabo molestiae labore ullam aliquam ducimus accusantium
    architecto magni molestias, cupiditate corrupti sint debitis illum maxime in officia voluptas non officiis
    dolorem minima repellat? Quia!
    Laudantium, saepe quis soluta aut porro consequatur. Exercitationem officia nostrum impedit tempore quo tenetur
    ab! Odio, aspernatur? Vel, necessitatibus eum dolorum est neque, sequi rerum illum error, nostrum adipisci ipsa?
    Incidunt ab atque labore! Amet quidem esse tempore! Et assumenda expedita quibusdam alias totam magni dolor
    illum ipsam incidunt quo, similique obcaecati delectus possimus dicta iure odio tempora ipsa aperiam?
    Sequi ab corrupti, soluta commodi inventore, quod numquam iusto libero quas laudantium quidem earum quae eos
    excepturi vero voluptatem error itaque, asperiores ducimus rerum quibusdam quaerat. Ipsum aut dolorem fugiat.
</p>

<%- include('partials/footer') %>