<%- include('partials/head') %>

<%- include('partials/navbar') %>

        <div class="container">
            <h1> Browsing the <%= subreddit %> subreddit! </h1>
        </div>

<%- include('partials/footer') %>