<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>

<body>
    <h1>Add A Product</h1>
    <form action="/products" method="POST">
        <label for="name">Product Name</label>
        <input id="name" type="text" name="name" placeholder="Product Name">
        <label for="price">Product Price</label>
        <input id="price" type="number" name="price" placeholder="Product Price">
        <label for="category">Select Category</label>
        <select id="category" name="category">
            <% for(let category of categories) { %>
                <option value="<%=category%>"><%=category%></option>
            <% } %>
        </select>
        <button>Submit</button>
    </form>
    <a href="/products">Cancel</a>
</body>

</html>